.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
 border-right: 1px solid #ddd;
}

.table > thead > tr > th {
  border-right: none;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
 background-color: #EEEEEE;
}

thead th {
padding: 0 !important;
}

thead tr .btn { 
margin: 0; 
border-radius: 0; 
box-shadow: inset 0 0 30px #C3C3C3;
}

td.status {
width: 90px;
text-align: center;
}

td.git {
width: 300px;
text-align: center;
}
#loaderContainer {
	margin-top: 30px;
    width: 400px;
}
#loadingBar {

}
/* http://www.leemunroe.com/css3-animated-loading-bar/ */
#bar {
    height:20px;
    width:200px;
    padding:10px;
    margin:200px auto 0;
    background-color:rgba(0,0,0,.1);
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    border-radius:20px;
    -webkit-box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
    -ms-box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
    box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
}

/* 
This is the actual bar with stripes
*/   
#bar span {
    display:inline-block;
    height:100%;
    width:100%;
    border:1px solid #ff9a1a;
    border-bottom-color:#ff6201;
    background-color:#d3d3d3;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    border-radius:20px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    background-image:
        -webkit-linear-gradient(
        -45deg,
        rgba(255, 154, 26, 1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 154, 26, 1) 50%,
        rgba(255, 154, 26, 1) 75%,
        transparent 75%,
        transparent
    );
    background-image:
        -moz-linear-gradient(
        -45deg,
        rgba(255, 154, 26, 1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 154, 26, 1) 50%,
        rgba(255, 154, 26, 1) 75%,
        transparent 75%,
        transparent
    );
    background-image:
        -ms-linear-gradient(
        -45deg,
        rgba(255, 154, 26, 1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 154, 26, 1) 50%,
        rgba(255, 154, 26, 1) 75%,
        transparent 75%,
        transparent
    );
    background-image:
        linear-gradient(
        -45deg,
        rgba(255, 154, 26, 1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 154, 26, 1) 50%,
        rgba(255, 154, 26, 1) 75%,
        transparent 75%,
        transparent
    );
    -webkit-background-size:50px 50px;
    -moz-background-size:50px 50px;
    -ms-background-size:50px 50px;
    background-size:50px 50px;
    -webkit-animation:move 2s linear infinite;
    -moz-animation:move 2s linear infinite;
    -ms-animation:move 2s linear infinite;
    animation:move 2s linear infinite;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    border-radius:20px;
    overflow: hidden;
    -webkit-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
    -moz-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
    -ms-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
    box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
}

/*
Animate the stripes
*/   
@-webkit-keyframes move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}    
@-moz-keyframes move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}    
@-ms-keyframes move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}    
@keyframes move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}


body{
	font-family: Helvetica, "Helvetica Neue", Verdana, Arial, sans-serif;
	background-image: url(http://www.innit.no/images/DSC01064.jpg);
}


.panel-heading{
	background-image: url(http://www.innit.no/style/innit3/images/banner.png);

	height: 100px;
	background-repeat: no-repeat;
	text-align: right;
	font-style: bold;
	font-size: 50px;
}


#submitButton{
	background-color: black;
	color:white; 
	border-radius: 0px;
}
#submitButton:hover, #submitButton:focus, #submitButton:active {
color: white !important;
background-color: #f89200 !important;
border-color: orange !important;

}

#cancelButton{
	border-radius: 0px;
}


#createButton{
	float: right;
	background-color: black;
	color: white;
	border-radius: 0px;
}

#createButton:hover, #createButton:focus, #createButton:active {
	color: white !important;
	background-color: #f89200 !important;
	border-color: orange !important;
}


.modal-header {
	background-color: black;
	color: white;
}


input{
	padding: 5px;
	border: solid 1px #707070s;
	padding: 5px;
	border: solid 1px #707070s;

}

.modulInput{
width: 90% !important;
}


